

$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$lightBlue: #5496ff;
$red: #ff1755;
$altred: #ff5d52;
$blue:#0061fc;

@mixin translateY($e) {
  -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
      transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition:$e;
    -moz-transition:$e;
      transition: $e;
}


body{
  font-family: 'Open-Sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &:hover {
    color:$lightBlue;
    text-decoration: none;
    @include transition(.4s ease-in-out);
  }
}

.container-fluid{
  line-height: 24px;
  margin-bottom: 10px;
}
